.App {
  text-align: center;
  width: 100vw;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


* {
  box-sizing: border-box;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 24px 64px;
  height: 100px;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div:nth-child(1),
.header > div:nth-child(2) {
  gap: 0.5rem;
}

.header > div:nth-child(1) > img {
  width: 32px;
  height: 28px;
}

.header > div:nth-child(1) > h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: right;
  color: #000000;
}

.header > div:nth-child(2) {
  border: 2px solid #ececec;
  padding: 16px 12px;
  gap: 8px;
  border-radius: 12px;
  min-width: 480px;
}

.header > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Inter;
  font-size: 13.61px;
  font-weight: 500;
  line-height: 16.47px;
  text-align: left;
  color: #000000;
  cursor: pointer;
}

.header > div:nth-child(2) > div:nth-child(2) {
  flex: 1;
}

.header > div:nth-child(2) > div:nth-child(2) > input {
  width: 100%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #000000;
  border: none;
  outline: none;
}

.header > div:nth-child(2) > div:nth-child(2) > input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #a0a0a0;
}

.header > div:nth-child(3) {
  gap: 2rem;
}

.header > div:nth-child(3) > a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #545454;
  text-decoration: none;
}

.header > div:nth-child(4) {
  gap: 0.5rem;
  margin-left: auto;
}

.header > div:nth-child(5){
  display: none;
}

.header > div:nth-child(4) > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header > div:nth-child(4) > div > span {
  width: 27px;
  height: 27px;
  padding: 4px 8px 4px 8px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > div:nth-child(4) > div > img {
  width: 40px;
  height: 40px;
  border: 2px solid #8c0303;
  border-radius: 50%;
}

.business-section {
  position: relative;
  background: url("/public/images/eyes.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 144px;
  background-size: cover;
  /* opacity: 40%; */
}

.business-section-inner {
  width: 80%;
  margin: 0 auto;
  top: 68px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #ffffff;
  border: 3px solid #f5f5f5;
  position: absolute;
  left: 0;
  right: 0;
  padding: 34px 40px;
 
}

.business-section-inner > div:first-child {
  position: relative;
}

.business-section-inner > div:first-child > img:nth-child(1) {
  width: 120px;
  height: 105px;
}

.business-section-inner > div:nth-child(2) {
  flex: 1;
}

.business-section-inner > div:nth-child(3) {
  flex: 3;
  width: 404px;
}

.business-section-inner
  > div:nth-child(2)
  > div:not(.business-section-inner > div:nth-child(2) > div:last-child),
.business-section-inner
  > div:nth-child(3)
  > div:not(.business-section-inner > div:nth-child(3) > div:last-child) {
  margin-bottom: 2rem;
}

.business-section-inner > div:nth-child(2) > div > h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 0.5rem;
}

.business-section-inner > div:nth-child(2) > div:first-child > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #8c0303;
}

.business-section-inner > div:nth-child(2) > div > p:nth-child(1),
.business-section-inner > div:nth-child(3) > div > p:nth-child(1) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #0c0c0c;
  margin-bottom: 0.75rem;
}

.business-section-inner > div:nth-child(2) > div > p:nth-child(2),
.business-section-inner > div:nth-child(3) > div > p:nth-child(2) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #a8a8a8;
}
.business-section-inner > div:first-child > img:nth-child(2) {
  position: absolute;
  right: -20px;
  top: -30px;
}

.business-card-inner {
  width: 1312px;
  border: 3px #f5f5f5;
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  height: 200px;
  background-color: #ffffff;
  border: 5px solid green;
  width: 90%;
  display: flex;
  align-items: center;
}

.business-card-inner > div:nth-child(1) {
  width: 120px;
  height: 105px;
}

.business-card-inner > div:nth-child(2) {
  flex: 1;
  border: 2px solid green;
}

.business-card-inner > div:nth-child(3) {
  flex: 2;
}

.business-card-inner > div:nth-child(2) > div,
.business-card-inner > div:nth-child(3) > div {
  border: 2px solid red;
  text-align: left;
}

.business-card-inner > div:nth-child(2) > div > h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  color: #0c0c0c;
}

.eyes {
  opacity: 40%;
  height: 144px;
  top: 0px;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  right: 0;
}

.business-logo {
  width: 100%;
  height: 100%;
}

.desription {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #8c0303;
}

.order-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #0c0c0c;
}

.order-per {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #a8a8a8;
}

.verified {
  background-color: #706dea;
  width: 60px;
  height: 40px;
  gap: 10px;
  padding-top: 20px;
  border-radius: 40px;
  color: #ffffff;
  font-size: smaller;
}

.business-type {
  line-height: 19.36px;
  color: #0c0c0c;
  font-weight: 400;
}

.uni {
  font-weight: 400;
  size: 16px;
  line-height: 19.36px;
  color: #a8a8a8;
}

.about {
  size: 16px;
  line-height: 19.36px;
  font-weight: 400;
}

.summary {
  font-weight: 400;
  size: 16px;
  line-height: 19.36px;
  color: #ababab;
  max-width: 380px;
  right: -515px;
}

.shoe {
  width: 124px;
  height: 130px;
  margin-left: 10px;
}

.product-card {
  width: 272px;
  flex-basis: 272px;
  border-radius: 10px;
  background-color: #f6f6f6;
  
}

.product-frame-inner-product > .product-card{
  flex-shrink: 0;
}

.product-frame {
  width: 100%;
  padding: 10rem 4rem;
  background: #f5f5f566;
}

.product-frame-inner {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 10px;
  color: #ffffff;
  border: 3px solid #f5f5f5;
  padding: 2rem 1rem;
}

.product-frame-inner-product{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
  border-radius: 10px;
  color: #ffffff;
  border: 3px solid #f5f5f5;
  padding: 2rem 1rem; 
  overflow-x: scroll;
}

.store-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #8c0303;
  width: 150px;
  height: 17px;
}

.shoe-desc {
  font-weight: 700;
  width: 99px;
  height: 38px;
  font-size: 16px;
  margin-left: 12px;
  line-height: 19.36px;
  color: #0c0c0c;
}

.shoe-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #929292;
  width: 220px;
  margin-left: 9px;
}

.star {
  width: 18px;
  height: 17px;
  margin-left: 2px;
  position: relative;
  left: -70px;
}

.price {
  width: 70px;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
  color: #0c0c0c;
  margin-top: -3px;
  margin-left: 10px;
}

.product-shoe{
  width: 304px;
  height: 336px;
  margin-top: 42px;
  margin-left: 34px ;
  border-radius: 10px;
}

.product-path{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  margin-top: 70px;
  margin-left: 24px;
  width: 406px;
  height: 12px;
}

.product-details{
  width: 520px;
  height: 124px;
  gap: 10px;
  margin-left: 408px;
  margin-top: -300px;
  text-align: left;
  margin-bottom: 80px;
}

.star3{
  width: 18px;
  height: 17px;
  margin-left: -1px;
}

.product-content{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #929292;
}

.stock{
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #8c0303;
}

.submit{
  width: 232px;
  border-radius: 12px;
  padding: 12px, 8px, 12px, 8px;
  gap: 8px;
  height: 53px;
  background-color: #0c0c0c;
  margin-top: 50px;
  color: #ffffff;
  margin-right: 20px;
}

.message-business{
  width: 232px;
  border-radius: 12px;
  padding: 12px, 8px, 12px, 8px;
  gap: 98px;
  height: 53px;
  justify-content: space-between;
  background-color: #a8a8a8;
  color: #ffffff;
  box-shadow: 0px 8px 12px 0px ;
}

.sold{
  margin-left: 1056px;
  margin-right: 46px;
  margin-top: -130px;
}

.trader{
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #a8a8a8;
  text-align: left;
}

.trader-desc{
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  color: #8c0303;
  text-align: left;
}

.list{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0c0c0c;
  text-align: left;
}



.more-from{
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #0c0c0c;
  line-height: 19.36px;
}

.modal-body{
  height: 4000px;
  width: 600px;
}

/* @media screen and (max-width: 430px){
  .header > div:nth-child(1) > img{
    width: 30px;

  }
} */


/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  
}


/* Phne */
@media screen and (max-width: 767px) {
  body{
    border: 3px solid red;
  } 

  
.business-section-inner {
  width: 90%;
  margin: 0 auto;
  top: 68px;
  border-radius: 10px;
  display: flex;
  align-items: first baseline;
  flex-direction: row;
  gap: 1rem;
  background: #ffffff;
  border: 3px solid #f5f5f5;
  position: absolute;
  left: 0;
  right: 0;
  padding: 34px 40px;
  border: 5px solid black;
}
 
.header > div:nth-child(2), .header > div:nth-child(3), .header > div:nth-child(4) {
  display: none;
border: 3px solid green;

}

.header > div:nth-child(5){
margin-left: auto;
display: block;
}

.business-logo{
/* margin-right: 300px; */
width: 300px;
float: left;
margin-left: 500px;
}

.desription{
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #8c0303;
  margin-left: 500px;
}


.product-frame {
  /* width: 662px; */
  padding: 10rem 4rem; 
  background: #f5f5f566;
  border: 5px solid yellow;
  margin-top: 270px;
  max-width: 450px;
  display: inline-flex; 
}

.product-card {
  width: 272px;
  flex-basis: 272px;
  border-radius: 10px;
  background-color: #f6f6f6;
  border: 5px solid blue;
}

.order-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #0c0c0c;
  float: right;
  margin-left: 200px;
}

.business-type {
  line-height: 19.36px;
  color: #0c0c0c;
  font-weight: 400;
  margin-top: 300px;
}

.product-shoe{
  width: 604px;
  height: 536px;
  margin-top: 42px;
  margin-left: 34px ;
  border-radius: 10px;
}

}
